body{
  background: rgb(245,245,245);
  color: green;
  font-size: 25px;
  font-family: Helvetica;
}
h1{
  font-family: Courier;
  color: red;
  font-weight: lighter;
  font-size: 10px;
}
h2 {
  font-family: Courier;
  color: pink;
  font-weight: lighter;
  font-size: 8px;
}
a {
  color: yellow;
}
a:hover {
  text-decoration: none;
  color: purple;
}

div.canda {
  width: 900px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
  background-image: url();
}

#second{
  position:relative; left:300px; top:2px; background-color:white;
}


div.government {
  width: 900px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
  background-image: url("1200px-Flag_of_Canada_(Pantone).svg.png");
}


div.corona {
  width: 900px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
  background-image: url("/content/dam/canada/carousel/bkg-home-banner-fall-v2.jpg");
}


#third{
  position:relative; left:600px; top:2px; background-color:white;
}


#fourth { position: absolute; margin-left: -27px; }




body{
  background-image: url("https://www.google.com/imgres?imgurl=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2Fd%2Fd9%2FFlag_of_Canada_%2528Pantone%2529.svg%2F1200px-Flag_of_Canada_%2528Pantone%2529.svg.png&imgrefurl=https%3A%2F%2Fen.wikipedia.org%2Fwiki%2FCanada&tbnid=0f9b-xheLhG9SM&vet=12ahUKEwjiwO_hs__rAhUY8RoKHTYyDzAQMygAegUIARDLAQ..i&docid=aHH35aAThFy62M&w=1200&h=600&q=canada&ved=2ahUKEwjiwO_hs__rAhUY8RoKHTYyDzAQMygAegUIARDLAQ");
}




.bottomtotop { transform:rotate(270deg); }




.navbar{ background:#F97300;}

.nav-link , .navbar-brand{ color: #f4f4f4; cursor: pointer;}

.nav-link{ margin-right: 1em !important;}

.nav-link:hover{ background: #f4f4f4; color: #f97300; }

.navbar-collapse{ justify-content: flex-end;}

.navbar-toggler{  background:#fff !important;}
